@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20deg 23% 97%;
    --foreground: 15deg 25% 3%;
    --card: 20deg 23% 97%;
    --card-foreground: 15deg 25% 3%;
    --popover: 20deg 23% 97%;
    --popover-foreground: 15deg 25% 3%;
    --primary: 27deg 24% 54%;
    --primary-foreground: 15deg 25% 3%;
    --secondary: 171deg 24% 74%;
    --secondary-foreground: 15deg 25% 3%;
    --muted: 20deg 24% 20%;
    --muted-foreground: 15deg 25% 70%;
    --accent: 226deg 24% 62%;
    --accent-foreground: 15deg 25% 3%;
    --destructive: 0deg 85% 60%;
    --destructive-foreground: 15deg 25% 3%;
    --border: 20deg 24% 20%;
    --input: 20deg 24% 20%;
    --ring: 226deg 24% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20deg 20% 3%;
    --foreground: 15deg 25% 97%;
    --card: 20deg 20% 3%;
    --card-foreground: 15deg 25% 97%;
    --popover: 20deg 20% 3%;
    --popover-foreground: 15deg 25% 97%;
    --primary: 27deg 24% 46%;
    --primary-foreground: 20deg 20% 3%;
    --secondary: 171deg 24% 26%;
    --secondary-foreground: 15deg 25% 97%;
    --muted: 21deg 20% 80%;
    --muted-foreground: 15deg 25% 97%;
    --accent: 227deg 24% 38%;
    --accent-foreground: 15deg 25% 97%;
    --destructive: 0deg 62% 30%;
    --destructive-foreground: 14deg 25% 10%;
    --border: 19deg 20% 60%;
    --input: 21deg 20% 80%;
    --ring: 228deg 24% 60%;
  }
}

.main:before {
  background: 
    radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 90%);
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: '';
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: -1;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(74, 29, 0) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 40%),
    radial-gradient(at 10% 29%, rgb(255, 255, 121) 0px, transparent 20%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 60%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(200%);
  opacity: 0.3;
}
